<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WashedApp Supplies</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/img/washedapp_logo.png"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">             
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dash"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/inv"><i class="fa fa-fw fa-edit"></i> Supplies</a>
                    </li>
                    <li>
                        <a href="/equip"><i class="fa fa-fw fa-camera-retro"></i> Machines</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Supplies
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Supplies
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

        <!--row-->
        <div class="row">

            <!--new machine form-->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3 class="panel-title">Add a New Item</h3></div>
                    <div class="panel-body">
                        <form action="inv/create/supplies" method="POST">
                            <div class="form-group">
                                <label for="itemBrand">Brand Name</label>
                                    <input type="text" class="form-control" id="itemBrand" placeholder="Brand" name="ItemName">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                    <input type="text" class="form-control" id="itemDescription" placeholder="Item Description" name="ItemDescription">
                            </div>
                            <div class="form-group">
                                <label for="quantity">Item Quantity</label>
                                    <input type="text" class="form-control" id="quantity" placeholder="000" name="StockQuantity">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                    <input type="text" class="form-control" id="price" placeholder="00.00" name="Price">
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.new machine form-->   

                    {{#each inventoryArray}}
                    <!-- machines box -->
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                               <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-edit fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Quantity:</div>
                                        <div class="huge">{{this.StockQuantity}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <!--table-->
                                
                                <table class="table table-bordered table-responsive">
                                    
                                    <tr>
                                      <td><b>Brand Name</b></td>
                                      <td><b>Description</b></td>
                                      <td><b>Price</b></td>
                                    </tr>

                                    <tr>
                                      <td>{{this.ItemName}}</td>
                                      <td>{{this.ItemDescription}}</td>
                                      <td>{{this.Price}}</td>
                                    </tr>
                                    
                                </table>

                                <!--/.table-->
                                <!--form-->
                                <form action="/inv/update/supplies?_method=PUT" method="POST">
                                    <div class="form-group">
                                        <label for="date">Update Quantity</label>
                                        <input type="text" class="form-control" i placeholder="000" id="itemQuantity" name="StockQuantity">
                                    </div>
                                              
                                        <button type="submit" class="btn btn-success">Update</button> 
                                        <input type="hidden" name="id" value="{{this.id}}">           
                                </form>

                                <form action="/inv/delete/supplies?_method=DELETE" method="POST">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <button type="submit" class="btn btn-danger">Delete Item</button>
                                                
                                </form>

                                <!--/.form-->
                            </div>
                        </div>
                    </div>
                    <!--/.machines box-->
                    {{/each}}
                </div>
                <!--/.row -->



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
